---
import Layout from "../layouts/Layout.astro";
const title = "เกี่ยวกับเรา";
const description = "ขอนแก่น ทริป แนะนำเส้นทางท่องเที่ยวขอนแก่น ฉบับเดินทางด้วยตนเองง่ายๆ";
---

<Layout title={title} description={description}>
    <div class="bg-white">
        <div class='max-w-6xl p-6 lg:p-10 mx-auto'>
            <h1 class="md:max-w-2xl text-4xl pb-6">
                การท่องเที่ยวแห่งประเทศไทย (ททท.) สำนักงานขอนแก่น ร่วมกับเทคไทบ้าน
            </h1>
            <p class="md:max-w-3xl">
                <b>MADE IN KHON KAEN</b> การท่องเที่ยวแห่งประเทศไทย (ททท.) สำนักงานขอนแก่นร่วมกับเทคไทบ้านในการจัดทำเว็บไซต์ข้อมูลการท่องเที่ยวจังหวัดขอนแก่นในชื่อ ขอนแก่น ทริป (khonkaentrip.com) โดยมีรายละเอียดของโครงการดังด้านล่างนี้ 
            </p>

            <p class="md:max-w-3xl">
                จาก SOUND อีสานรอรัก <br>
                เมื่อเดือนกุมภาพันธ์ 2567 สู่ Made In Khon Kaen Pop Up Event
การท่องเที่ยวแห่งประเทศไทย (ททท.) สำนักงานขอนแก่น ร่วมกับพันธมิตรในพื้นที่จังหวัดขอนแก่น ร้านเเก่น I KAEN, ศิลปินนักวาดภาพ SIRI, เทคไทบ้าน และโรงแรมแอดลิบ ขอนแก่น (Ad Lib Hotel)  จัดกิจกรรมส่งเสริมการตลาดการท่องเที่ยว Pop up Event : Taste of Kaen ในโครงการอาหารนำทาง (From Local to Your Dishes) ภายใต้คอนเซ็ปต์ :  Made in Khon Kaen ระหว่างวันที่ 20 – 21 มิถุนายน 2567 เพื่อเป็นการประชาสัมพันธ์กระตุ้นและส่งเสริมให้นักท่องเที่ยวโดยเฉพาะกลุ่มวัยทำงานและกลุ่มผู้ชื่นชอบการชิม/รับประทานอาหาร (Food Lover) เดินทางเข้ามาในพื้นที่จังหวัดขอนแก่นเพิ่มมากขึ้น
            </p>
            <p class="md:max-w-3xl">
                โดยได้จัดกิจกรรม Tasting Menu : Made in Khon Kaen “พาข้าวพาเที่ยว” ในวันที่ 20 มิถุนายน 2567 ณ ร้านแก่น นำเสนอเมนูอาหาร Fine dinning ที่ใช้วัตถุดิบจากแหล่งต่างๆ ในพื้นที่ขอนแก่น ที่รังสรรค์โดยเชฟไพศาล ชีวินศิริวัฒน์ และเชฟจิ๊บ-กัญญารัตน์ ถนอมแสง ร้านแก่น พร้อมทั้งร่วมเชิดชู Local Heroes คนขอนแก่น ชุมชน/เจ้าของแหล่งวัตถุดิบ ผู้ผลิตวัตถุดิบส่วนประกอบที่นำมาทำอาหารซึ่งล้วนอยู่ในพื้นที่จังหวัดขอนแก่น
นอกจากนั้นยังได้จัดกิจกรรมท่องเที่ยว Experimental 1 Day Trip เส้นทาง “MADE IN KHON KAEN”ตามรอยเส้นทางวัตถุดิบ 
            </p>
            <p class="md:max-w-3xl">
                ในวันที่ 21 มิถุนายน 2567 นำคณะสื่อมวลชนและ Influencer จากกรุงเทพฯ และขอนแก่น เดินทางไปเยี่ยมชมแหล่งวัตถุดิบที่นำมาทำอาหาร พร้อมท่องเที่ยวและทำกิจกรรมในแหล่งท่องเที่ยวชุมชนเชื่อมโยง อาทิ ล่องเรือชมธรรมชาติแก่งละว้าและประมงพื้นบ้าน, ชมสาธิตวิธีการทำปลาร้าของชุมชนแก่งละว้า, เยี่ยมชมสิมอีสานวัดไชยศรี รับประทานอาหารท้องถิ่น “พาสวยสินไซ” ที่เป็นเอกลักษณ์ของชุมชนสาวะถี พร้อมรับชมการแสดงหมอลำหุ่นกระติ้บสินไซน้อยร้อยปี, สัมผัสประสบการณ์ใหม่ที่ห้องอาหาร Food By Fire สัมผัสประสบการณ์อาหารท้องถิ่นรูปแบบร่วมสมัย ที่ฟู๊ด บาย ไฟร์ (Food by Fire) ห้องอาหารสไตล์ Grill House ที่พร้อมชมวิวเมืองมุมสูงจากโรงแรมแอดลิบ ขอนแก่น ทีมเชฟของที่นี่มุ่งคัดสรรและนำเสนอวัตถุดิบชั้นเลิศในภูมิภาค ที่พร้อมชมวิวเมืองมุมสูงจากโรงแรมแอดลิบ ขอนแก่น ทีมเชฟของที่นี่มุ่งคัดสรรและนำเสนอวัตถุดิบชั้นเลิศในภูมิภาค ผสมผสานเทคนิคสมัยใหม่จากทั่วทุกมุมโลก
            </p>
            <p class="md:max-w-3xl">
                เพื่อยกระดับมรดกทางอาหารอีสานให้มีมิติใหม่, และทำกิจกรรม Workshop งานศิลปะร่วมกับ SIRI ที่ Tomato Twins Cafe Khon Kaen ซึ่งเป็นผู้ร่วมสร้างสรรค์ผลงานศิลปะที่อยู่ในเมนูอาหารของงานนี้โดยเฉพาะ รวมทั้งมีการจัดทำแพลตฟอร์มออนไลน์ในการสืบค้นข้อมูลเส้นทาง <strong>MADE IN KHON KAEN ร่วมกับเทคไทบ้าน โปรเจคพัฒนาชุมชนสู่ Digital Nomad</strong> 
            </p>
            <p class="md:max-w-3xl">
                การจัดกิจกรรมในครั้งนี้ จะเป็นการประชาสัมพันธ์และกระตุ้นการเดินทางท่องเที่ยวเชิงอาหาร (Gastronomy Tourism) ส่งเสริมกิจกรรมท่องเที่ยวชุมชนสร้างสรรค์ ผนวกกับกิจกรรม Art & Craft รวมทั้งส่งเสริมการสร้างรายได้ทางการท่องเที่ยวในพื้นที่เพิ่มมากขึ้น และขอเชิญชวนนักท่องเที่ยวที่สนใจเดินทางมาท่องเที่ยวจังหวัดขอนแก่น ตามรอยเส้นทางวัตถุดิบ “MADE IN KHON KAEN” โดยสามารถดูรายละเอียดเพิ่มเติมได้ที่ เว็บไซต์ https://khonkaentrip.com หรือสอบถามข้อมูลเพิ่มเติมได้ที่                           
                ททท. สำนักงานขอนแก่น โทร. 043 227 714 -5 Facebook เพจ: ททท. สำนักงานขอนแก่น
            </p>
        </div>
    </div>
</Layout>

