---
import Layout from "../layouts/Layout.astro";
import srcImage from "../assets/ScreenMobile.jpg"
const title = "เกี่ยวกับเรา";
const description = "ขอนแก่น ทริป แนะนำเส้นทางท่องเที่ยวขอนแก่น ฉบับเดินทางด้วยตนเองง่ายๆ";
---

<Layout title={title} description={description}>
    <div class="bg-white min-h-screen pt-10">
        <div class='max-w-6xl p-6 lg:p-10 mx-auto text-center'>
            <figure>
                <img src={srcImage.src} alt="ขอนแก่น ทริป แนะนำเส้นทางท่องเที่ยวขอนแก่น ฉบับเดินทางด้วยตนเองง่ายๆ"/>
            </figure>
            <h1 class="md:max-w-6xl text-xl lg:text-4xl pb-6">
                ททท. สำนักงานขอนแก่น x เทคไทบ้าน
            </h1>
            <p class="text-lg md:max-w-4xl lg:pl-12 lg:pr-12 m-auto">
                <b>MADE IN KHON KAEN</b> การท่องเที่ยวแห่งประเทศไทย (ททท.) สำนักงานขอนแก่นร่วมกับเทคไทบ้านในการจัดทำเว็บไซต์ข้อมูลการท่องเที่ยวจังหวัดขอนแก่นในชื่อ ขอนแก่น ทริป (khonkaentrip.com) โดยมีเป้าหมายเพื่อให้นักท่องเที่ยวที่มาเยี่ยมขอนแก่นสามารถเดินทาง Road Trip ด้วยตนเองได้ง่าย อีกนัยหนึ่ง ก็เพื่อให้ชุมชนสามารถนำข้อมูลเส้นทางท่องเที่ยวของตนมาไว้บนแพลตฟอร์มออนไลน์ในการสืบค้นข้อมูลเส้นทางได้ง่ายเช่นกัน
            </p>
            <br>
            <p class="text-lg md:max-w-6xl lg:pl-12 lg:pr-12">
             สำหรับหน่วยงานด้านการพัฒนาท่องเที่ยวชุมชน สนใจการพัฒนาแพลตฟอร์มออนไลน์ในลักษณะนี้ <br> สามารถติดต่อเทคไทบ้านได้ที่ <a href="https://www.facebook.com/techthaiban.org">facebook.com/techthaiban</a>
            </p>
        </div>
    </div>
</Layout>

