---
import Layout from '../layouts/Layout.astro';
const title = 'สร้างเว็บแบบพร้อมเพจ';
const description = 'This is a prompt page';
---

<Layout title={title} description={description}>
  <div class='s-container'>
    <h1>{title}</h1>
    <p class="text-center">พบกับไลฟ์แนะนำการสร้างเว็บไซต์ Static ด้วย WordPress vs. Astro เร็วๆ นี้
  </p>
  </div>
</Layout>
