---
import Layout from '../layouts/Layout.astro';
const title = 'Made in Khon Kaen ';
const description = 'This is a prompt page';
---

<Layout title={title} description={description}>
  <div class='s-container text-center'>
    <h1>{title}</h1>
    <p>
      เยือน 8 จุดท่องเที่ยวเชิงอาหารในขอนแก่น ผ่าน Tasting Menu สไตล์อีสานอินเตอร์ของร้านแก่น 
    </p>
    <figure class="text-center">
      <img class="_redius" src="https://cdn.readthecloud.co/wp-content/uploads/2024/05/08154726/tasting-menu-made-in-khon-kaen-59.jpg" alt="">
    </figure>
    <p class="text-center">พบกับเส้นทางทริปฉบับเต็มเร็วๆ นี้
  </p>
  </div>
</Layout>
